$primaryColor: #074EE8; 
$sideMenuColor: #E6EDFD; 
$primarySecondaryColor: #475EAA; 
$primaryTextColor: #1C1D21; 
$backgroundPrimaryColor: #F6F6F6; 
$strokeColor: #F0F0F3; 
$secondaryTextColor: #83858D; 
$backgroundSecondaryColor: #F5F5FA; 
$warningColor: #F4BE5E; 
$errorColor: #FF808B; 
$informationPrimaryColor: #9698D6; 
$lightWarningColor: #FEF8EF; 
$lightSuccessColor: #F2FDF7; 
$lightErrorColor: #FFF2F3; 
$whiteColor: #FFFFFF; 
$informationSecondaryColor: #EFF2FE; 
$lightCyanColor: #ECFCFF; 
$listenBlueColor: #0C3C8C; 
$lightPrimaryColor: #2A6BD0; 
$listenReddishColor: #743840; 
$listenTintedColor: #102228; 
$successColor: #7CE7AC; 
$white: #FFF;