@import '../../../styles/colors.scss';

.menu__items{
    width: 216px;
}

.menu__items, .clicked{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
}
.menu__logos{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu__items svg{
    stroke: $secondaryTextColor;
}

.menu__items p, .clicked p {
    color: $secondaryTextColor;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.clicked{
    background-color: rgba(7, 78, 232, 0.08);
    border-radius: 8px;
}
.clicked p, .clicked svg {
    color: $primaryColor;
    stroke: $primaryColor;
} 

@media only screen and (min-width: 768px) and (max-width: 992px){
    .menu__logos{
        margin: 0;
        margin-top: 24px;
    }

}