.container {
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
}
.rightContent{
    width: 100%;
    height: 100%;
}

.container > img{
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .container > img{
        width: 100%;
    }
    .rightContent{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .container > img{
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .container > img{
        width: 55%;
    }
} 
