@import '../../styles/colors.scss';

.name p, .name img, .header img, .menu__items p, .clicked p, .menu__items svg, .clicked svg{
    cursor: pointer;
}

.container{
    width: 264px;
}

.header{
    display: flex;
    align-items: center;
    padding: 0px 24px 0 0;
}

.header img:first-child{
    display: flex;
    align-items: center;
    width: 124px;
    height: 124px;
}

.header img{
    display: none;
}

.menu {
    padding: 0px 24px;
    margin-top: 16px;
}

.name{
    position: relative;
    bottom: 38px;
    margin-bottom: -38px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 16px 17px 16px;
}

.border{
    border-bottom: 2px solid $strokeColor;
    bottom: 2px;
    margin-bottom: -2px;
}

.name p{
    font-family: Lato;
    font-weight: 500;
}
.menu__items{
    width: 216px;
}

.menu__items, .clicked{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
}
.menu__logos{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu__items svg{
    stroke: $secondaryTextColor;
}

.menu__items p, .clicked p {
    color: $secondaryTextColor;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.clicked{
    background-color: rgba(7, 78, 232, 0.08);
    border-radius: 8px;
}
.clicked p, .clicked svg {
    color: $primaryColor;
    stroke: $primaryColor;
}   


@media only screen and (max-width: 768px) {
    .container {
        position: static;
        width: 220px;
        margin: 0;
    }
    .menu{
        position: static;
        margin-top: 16px;
    }
    .name{
        position: static;
        padding: 12px 0;
        margin: 0;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 20px;
    }
    .border{
        position: relative;
        bottom: 2px;
        margin-bottom: -2px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .container {
        position: static;
        width: 264px;
        margin: 0;
    }
    .menu{
        position: static;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        padding: 0 24px;
    }
    .name{
        position: static;
        padding: 16px 16px 17px 16px;
        margin-bottom: -12px;
    }

    .menu__logos{
        margin: 0;
        margin-top: 24px;
    }
    .header img:first-child{
        display: flex;
        align-items: center;
        width: 114px;
        height: 124px;
    }

    .header img:last-child {
        display: flex;
        background-color: $strokeColor;
        border-radius: 50%;
        margin-left: auto;
        margin-bottom: 18px;
    }
}